*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

.container{
    font-size: 23px;
    margin-top: 40px;
    margin-left: 4px;
    margin-right: 550px;
    border: 1px solid black;
    padding-left: 25px;
    padding-top: 65px;
    padding-bottom: 65px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0;
}

h2{
    font-weight: bolder;
    background-color: antiquewhite;
    color: black;
    font-size: 45px;
}

.desc{
    background-color: antiquewhite;
    color: aliceblue;
    font-size: 26px;
}

label{
    background-color: antiquewhite;
    color: aliceblue;
    font-size: 24px;
}

input{
    border: none;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 80px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: brown;
    border: 1px solid rgb(162, 17, 17);
}

input:focus{
    outline: none;
    border: 1px solid rgb(255, 119, 119);
}

button{
    border: 1px solid rgb(255, 254, 254);
    padding: 23px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: bisque;
    box-shadow: 0 0 10px 0;
    transition: all .3s;
}

button:active{
    background-color: blanchedalmond;
}

#answer{
    background-color: rgba(255, 255, 255, 0.274);
    padding: 25px;
    border: 0.5px white solid;
    border-radius: 7px;
    margin-right: 90px;
    margin-left: 12px;
    color: antiquewhite;
    font-family: monospace;
    font-size: larger;
    box-shadow: 0 0 5px 0 black;
}

#answer:hover{
    box-shadow: 0 0 16px 0;
    transition: all ease-out .3s;
}

.material-symbols-outlined{
    background-color: brown;
}

span{
    cursor: pointer;
}

span:hover{
    color: aliceblue;
    transition: all ease-out .2s;
}
